In [1]:
print ("786")

786

# variable

In [2]:
name = "atif"
print(name)

atif

In [3]:
name

'atif'

In [4]:
lastname = "qureshi"
city = "hyderabad"
greeting = "AOA"
print("this information is about ",lastname+" " + name+" " + city +" "+greeting)

this information is about  qureshi atif hyderabad AOA

# variables for numbers

In [5]:
weight = 150
print(weight)

150

In [6]:
weight + 25

175

In [7]:
original = 12
new = original +3 
print (new)

15

In [8]:
increaseBy = 8
new = original + increaseBy
print(new)

20

# Math expression : familiar operators

In [9]:
popularNum = 4
print(popularNum)

4

In [10]:
popularNum2 = 2+2
popularNum2

4

In [11]:
loss=12-24
loss

-12

In [12]:
dozen = 3*4
dozen

12

In [13]:
popularNum3=32/4
popularNum3

8.0

In [14]:
num =.75
total = num+1
total

1.75

In [15]:
num =10 
another = 1.5
sum = num + another
sum

11.5

# Math expression : Unfamiliar operators

In [16]:
leftOver = 9%3
leftOver

0

In [17]:
age =12
age = age +2
age

14

In [18]:
age+=6
age

20

In [19]:
age*=2
age

40

In [20]:
increment = 5
age+=increment
age

45

# Math expression : Eliminating Ambiguity

In [21]:
total = 1+3*23
total

70

In [22]:
total =1+(3*23)
total

70

In [23]:
total = (1+3)*23
total

92

In [24]:
result = (2*4)*4+2
result

34

In [25]:
result = (2*4)*(4+2)
result

48

In [26]:
result=((2*4)*4)+2
result

34

# Concatenating text strings

In [27]:
greeting = "AOA"
address = " TO EVERYONE"
massage = greeting + address
print(massage)

AOA TO EVERYONE

In [28]:
greeting = "AOA"
address = "TO EVERYONE"
sep = ", "
punc=" ! "
massage = greeting+ sep + address + punc
print(massage)

AOA, TO EVERYONE !

In [29]:
greeting = "AOA,"
address = " TO EVERYONE!"
massage = greeting+ address 
print(massage)

AOA, TO EVERYONE!

# If Statements

In [30]:
species = "cat"
if species == "cat":
    print("enter the type of ", species)
    print("enter the age of ", species)

enter the type of  cat
enter the age of  cat

In [31]:
if 2+2 == 4:
    print("THE SUM IS 4 " )

THE SUM IS 4

In [32]:
hasband = 1
if hasband == 1:
    print("so far so good " )

so far so good

# Comparison operator

In [33]:
fullName = "atif qureshi"
if fullName == "atif" + " " + "qureshi" :
    print("show the "+fullName+"`s ID")

show the atif qureshi`s ID

In [34]:
firstName = "atif"
lastName = "qureshi"
if firstName +" " + "qureshi":
    print("congralulation",firstName)
if firstName + " " + lastName:
    print("are you student Mr",lastName)

congralulation atif
are you student Mr qureshi

In [35]:
material = 7
totalCost =12
laborCost = 5
if totalCost == 8+4:
    print("give the recipt of",totalCost)
if totalCost == material + 5 :
    print("the material amount is",material)
if totalCost == material + laborCost:
    print("ok")

give the recipt of 12
the material amount is 7
ok

In [36]:
x = 12
y = 3
a = 18
b = 3
if x+y==a-b:
    print("the loss and profit are balance")

the loss and profit are balance

In [37]:
ticket = 110
if ticket != 233 :
    print("the number is not matched")

the number is not matched

# Else and elif statement

In [38]:
species = "cat"
if species == "cat":
    print("yep! it's a cat")
if species != "dog":
    print("nope, it's not a cat")

yep! it's a cat
nope, it's not a cat

In [39]:
if species == "cow":
    print("it is a vild species")
else:
    print("it is not required animal")

it is not required animal

In [40]:
dountCondition = "fresh"
dountPrice = "low"
if dountCondition != "fresh":
    buyScore = 10
    print(" the status of dountCondition is",dountCondition,"and it's cost is",buyScore)
elif dountPrice > "low":
    buyScore = 5
    print("the status of DountCondition is",dountPrice,"and it's current value is", buyScore)
else:
    print("the condition is not vild")

the condition is not vild

In [41]:
buyScore = 0
condition = "fresh"
cond1 ="low"
filling = "chocolate"
price = "reasonable"
if condition != "fresh":
    if filling == "chocolate":
        buyScore+=10
        print("the",condition,"condition price has increased by" ,buyScore,"it is filled with",filling)
elif cond1 =="low":
    if filling != "chocoate":
        buyScore +=5
        print("the condition is low , the filling is creame , buyScore is lower upto",buyScore,"and it is",price)

the condition is low , the filling is creame , buyScore is lower upto 5 and it is reasonable

# Testing sets of conditions

In [42]:
weight = 311
time = 5
if weight > 300 and time < 6 :
    status = "try to recfruit him"
    print(status)
    if weight >= 300 and time <=6:
        status = "the actual weight is",weight,"kg and actual time is",time , "hours"
        print(status)
        if weight == 311 or time !=4:
            print("one of these absoulty right ")

try to recfruit him
('the actual weight is', 311, 'kg and actual time is', 5, 'hours')
one of these absoulty right

In [43]:
sat = 65
ave = 50
gpa = 2.5
parent = "alum"
if sat > ave or gpa > 2.5 or parent == "alum" :
    massage = "welcome to leeds college"
    print(massage)

welcome to leeds college

In [44]:
age = 66
res = "Uk"
if age > 65 or age < 21 and res == "UK" :
    print("both over 65 and under 21 are the residence of " , res)

both over 65 and under 21 are the residence of  Uk

In [45]:
age = 66
res = "Uk"
if age > 65 or (age < 21 and res == "UK" ) :
    print("both over 65 and under 21 are the residence of ")

both over 65 and under 21 are the residence of

In [46]:
age = 20
res = "Uk"
if (age > 65 or age < 21 ) and res == "UK" :
    print("both over 65 and under 21 are the residence of ")

# If statements nested

In [47]:
a = "b"
x = "y"
c = "d"
if x == "y" or a == "b" and c == "d":
    g="h"
    print(g)
else:
    e ="f"
    print(e)

h

In [48]:
if c == "d":
    if x != "y":
        g =="h"
        print(g)
    elif a == "p":
        u = 87
        print(u)
    else:
        e="342"
        print(e)

342

# lists

In [49]:
city0 = "hyderabad"
city1 = "karachi"
city2 = "lahor"
city3 = "islamabad"
city4 = "multan"
city5 = "fasalabad"
print("welcome",city2)

welcome lahor

In [50]:
cities = ["hyd","kara","lahor","islamabad","fasalabad","multan"]
print("welcome to",cities[5])

welcome to multan

# adding and changing elements

In [51]:
cities = ["hyd","kara","lahor","islamabad","fasalabad","multan"]
cities.append("new york" )
cities.append(90)
print(cities)

['hyd', 'kara', 'lahor', 'islamabad', 'fasalabad', 'multan', 'new york', 90]

In [52]:
other = cities + ["usa","uk"]
other

['hyd',
 'kara',
 'lahor',
 'islamabad',
 'fasalabad',
 'multan',
 'new york',
 90,
 'usa',
 'uk']

In [53]:
task =[]
task = task + ["h","d","m"]
task

['h', 'd', 'm']

In [54]:
cities.insert(2,"India")
#cities.insert(5,"turkey")
cities

['hyd',
 'kara',
 'India',
 'lahor',
 'islamabad',
 'fasalabad',
 'multan',
 'new york',
 90]

In [55]:
cities.insert(5,"turkey")
cities

['hyd',
 'kara',
 'India',
 'lahor',
 'islamabad',
 'turkey',
 'fasalabad',
 'multan',
 'new york',
 90]

# lists: taking slices out of them

In [56]:
cities = ["hyd","karachi","lahore","fasalabad","dado","sukkar","mirpur"]
print(cities)
smallerList=cities[2:5]
print(smallerList)
smaller1=cities[3:]
print(smaller1)
smaller2=cities[:4]
print(smaller2)

['hyd', 'karachi', 'lahore', 'fasalabad', 'dado', 'sukkar', 'mirpur']
['lahore', 'fasalabad', 'dado']
['fasalabad', 'dado', 'sukkar', 'mirpur']
['hyd', 'karachi', 'lahore', 'fasalabad']

# list: Delecting and removing elements

In [57]:
task = ["atif","anwar","babar"]
task
del task[0]
task

['anwar', 'babar']

In [58]:
task.append("owais")
task

['anwar', 'babar', 'owais']

In [59]:
task.insert(2,"musayab")
task

['anwar', 'babar', 'musayab', 'owais']

In [60]:
del task[2]
task

['anwar', 'babar', 'owais']

In [61]:
task.remove("anwar")
task

['babar', 'owais']

# popping elements

In [62]:
cities

['hyd', 'karachi', 'lahore', 'fasalabad', 'dado', 'sukkar', 'mirpur']

In [63]:
cities.append("rawapidi")
cities

['hyd',
 'karachi',
 'lahore',
 'fasalabad',
 'dado',
 'sukkar',
 'mirpur',
 'rawapidi']

In [64]:
cities.insert(4,"kasmir")
cities

['hyd',
 'karachi',
 'lahore',
 'fasalabad',
 'kasmir',
 'dado',
 'sukkar',
 'mirpur',
 'rawapidi']

In [65]:
del cities[4]
cities

['hyd',
 'karachi',
 'lahore',
 'fasalabad',
 'dado',
 'sukkar',
 'mirpur',
 'rawapidi']

In [66]:
cities.remove("rawapidi")
cities

['hyd', 'karachi', 'lahore', 'fasalabad', 'dado', 'sukkar', 'mirpur']

In [67]:
words = ["a","d","f"]
words

['a', 'd', 'f']

In [68]:
new1 = []
latest = words.pop(1)
print(latest)

d

In [69]:
new1.append(latest)
new1

['d']

In [70]:
latest= words.pop(1)
latest

'f'

In [71]:
new1.insert(1,words.pop(0))
new1

['d', 'a']

# Tuples

In [72]:
states = ("sindh","punjab","bilochistsn","kpk")
print(states[0])
print("the state on 0 was",states[0])

sindh
the state on 0 was sindh

# for loops

In [73]:
cityCheck = "islamabad"
cleanestCity = ["hyd","karachi","islamabad","lahor","fasalabad"]
if cityCheck == cleanestCity[0]:
    print("it's a safe city:",cityCheck)
elif cityCheck == cleanestCity[1]:
    print("it's a safe city:",cityCheck)
elif cityCheck == cleanestCity[2]:
    print("it's a safe city:",cityCheck)
elif cityCheck == cleanestCity[3]:
    print("it's a safe city:",cityCheck)
elif cityCheck == cleanestCity[4]:
    print("it's a safe city:",cityCheck)

it's a safe city: islamabad

In [74]:
a="*"
for aCity in cleanestCity:
    if cityCheck == aCity:
        print("this is a cleanest city:",cityCheck)

this is a cleanest city: islamabad

In [75]:
a = "*"
for aCity in cleanestCity:
    if a == "*":
        print(aCity,a)
for aCity in cleanestCity:
    print(cleanestCity)

hyd *
karachi *
islamabad *
lahor *
fasalabad *
['hyd', 'karachi', 'islamabad', 'lahor', 'fasalabad']
['hyd', 'karachi', 'islamabad', 'lahor', 'fasalabad']
['hyd', 'karachi', 'islamabad', 'lahor', 'fasalabad']
['hyd', 'karachi', 'islamabad', 'lahor', 'fasalabad']
['hyd', 'karachi', 'islamabad', 'lahor', 'fasalabad']

# for loops nested

In [76]:
names = ["h","j","g","c","u"]
namesl = ["l","m","v","p","t"]
fnames = []
for a in names:
    for b in namesl:
        fnames.append(a + " " + b)
print(fnames)

['h l', 'h m', 'h v', 'h p', 'h t', 'j l', 'j m', 'j v', 'j p', 'j t', 'g l', 'g m', 'g v', 'g p', 'g t', 'c l', 'c m', 'c v', 'c p', 'c t', 'u l', 'u m', 'u v', 'u p', 'u t']

In [77]:
names = ["h","j"]
namesl = ["l","m"]
fnames = []
for a in names:
    for b in namesl:
        fnames.append(a + " " + b)
    print(fnames)

['h l', 'h m']
['h l', 'h m', 'j l', 'j m']

In [78]:
names = ["h","j"]
namesl = ["l","m"]
fnames = []
for a in names:
    for b in namesl:
        fnames.append(namesl +names)
        print(fnames)

[['l', 'm', 'h', 'j']]
[['l', 'm', 'h', 'j'], ['l', 'm', 'h', 'j']]
[['l', 'm', 'h', 'j'], ['l', 'm', 'h', 'j'], ['l', 'm', 'h', 'j']]
[['l', 'm', 'h', 'j'], ['l', 'm', 'h', 'j'], ['l', 'm', 'h', 'j'], ['l', 'm', 'h', 'j']]

In [79]:
names = [1,2]
namesl = [3,4]
fnames = []
for a in names:
    for b in namesl:
        #fnames.append(a+b)
        print(a+b)

4
5
5
6

In [80]:
a = ["s","d","f"]
b="*"
c=[]
for i in a :
    for f in b:
        print(i,f)

s *
d *
f *

In [81]:
a="*"
i = 10
b = 8
for i in a:
    for b in i:
        print(i)

*

In [82]:
massage = input("Name ")
print(massage)

Name ATIF
ATIF

In [83]:
name = input("please enter your name: ")
print("Hello, " + name+ "!")

please enter your name: RT
Hello, RT!

In [84]:
prompt = "if you tell us who are you we can personalize that massage you see. "
prompt += "\nwhat is your first name: "
name = input(prompt)
print("\nhello, " + name + "!")

if you tell us who are you we can personalize that massage you see.
what is your first name: OGJK

hello, OGJK!

In [93]:
for i in range(1,6):
    print(int(i.rand))

AttributeError: 'int' object has no attribute 'rand'