# 4 Introducting List

In [2]:
bicycles = ['trek','cannodale','redline','specialized']
print(bicycles)

['trek', 'cannodale', 'redline', 'specialized']

In [3]:
print(bicycles[0])
print(bicycles[1])
print(bicycles[2])
print(bicycles[3])

trek
cannodale
redline
specialized

In [4]:
b = 0
for a in bicycles:
    b+=1
    print("My",b ,"was a",a.title())

My 1 was a Trek
My 2 was a Cannodale
My 3 was a Redline
My 4 was a Specialized

In [5]:
print(bicycles[-1])
# this is for larg dataset to see last value

specialized

In [14]:
rank = ['1st','2nd','3rd','4th']
for b in rank:
    for c in bicycles:
        print( "My " + b + " was a " + c.title() + "." )

My 1st was a Trek.
My 1st was a Cannodale.
My 1st was a Redline.
My 1st was a Specialized.
My 2nd was a Trek.
My 2nd was a Cannodale.
My 2nd was a Redline.
My 2nd was a Specialized.
My 3rd was a Trek.
My 3rd was a Cannodale.
My 3rd was a Redline.
My 3rd was a Specialized.
My 4th was a Trek.
My 4th was a Cannodale.
My 4th was a Redline.
My 4th was a Specialized.

In [6]:
rank = ['1st','2nd','3rd','4th']

for b in bicycles:
    c = bicycles.index(b)
    print( "My ",c," was a " + b.title() + "." )

My  0  was a Trek.
My  1  was a Cannodale.
My  2  was a Redline.
My  3  was a Specialized.

In [7]:
name = ["atif","ali","owais"]
massage = "hi "
for a in name:
    print(massage,a)

hi  atif
hi  ali
hi  owais

# changing , adding and removomg the elements

In [8]:
relatives = []
relatives.append(name)
print(relatives)
for i in name:
    print("Hi, ",i)

[['atif', 'ali', 'owais']]
Hi,  atif
Hi,  ali
Hi,  owais

# insert()

In [9]:
'''insert() function add element to list at any position where the user wants , however append() also add but it does at the
end and required only one argument , whereas insert takes two of them 1st position and element'''

'insert() function add element to list at any position where the user wants , however append() also add but it does at the\nend and required only one argument , whereas insert takes two of them 1st position and element'

In [10]:
cubs = ['sportCube','yagoCube']
cubs1 = 'denceCube','tennisCube','musicCube'

cubs.insert(1,cubs1)
print(cubs,'\n\n')

print("***********_____________*******\n\n")

cubs0 = ['sportCube','yagoCube']
cubs0.append(cubs1)
print(cubs0)

['sportCube', ('denceCube', 'tennisCube', 'musicCube'), 'yagoCube']


***********_____________*******


['sportCube', 'yagoCube', ('denceCube', 'tennisCube', 'musicCube')]

# Removing an item using the del statement

In [11]:
obj = ['a','b','c','d']
print(obj,'\n\n')
del obj[1]
print(obj)

['a', 'b', 'c', 'd']


['a', 'c', 'd']

# Removing an item using the del statement

In [12]:
words = ['a','h','j','k','o','p']
b = []
c = []
for i in words: 
    a=words.pop()
    b.append(i)
    c.append(a)
print("active   words: ",b)
print("inactive words: ",c)

active   words:  ['a', 'h', 'j']
inactive words:  ['p', 'o', 'k']

In [13]:
words = ['a','h','j','k','o','p','r']
b=[]
c =[]

for i in words: 
    a=words.pop()
    b.append(i)
    print("he  is active   member: ",b)
    c.append(a)
    print("she is unactive member: ",c)

he  is active   member:  ['a']
she is unactive member:  ['r']
he  is active   member:  ['a', 'h']
she is unactive member:  ['r', 'p']
he  is active   member:  ['a', 'h', 'j']
she is unactive member:  ['r', 'p', 'o']
he  is active   member:  ['a', 'h', 'j', 'k']
she is unactive member:  ['r', 'p', 'o', 'k']

In [14]:
words = ['a','h','j','k','o','p','r']
b=[]
c =[]
d=0
e=4
for i in words: 
    a=words.pop()
    d+=1
    e+=1
    b.append(i)
    f="the ",d,"word is     :",i
    print(f)
    if e != 4:
        g = a,"the ",e,"word is not :"
        print(g)
    #c.append(a)
   # print("she is unactive member: ",c)

('the ', 1, 'word is     :', 'a')
('r', 'the ', 5, 'word is not :')
('the ', 2, 'word is     :', 'h')
('p', 'the ', 6, 'word is not :')
('the ', 3, 'word is     :', 'j')
('o', 'the ', 7, 'word is not :')
('the ', 4, 'word is     :', 'k')
('k', 'the ', 8, 'word is not :')

# Removing item by value

In [15]:
fn = ["a","r","g"]
print(fn)
fn.remove("a")

print(fn)

['a', 'r', 'g']
['r', 'g']

In [16]:
fn = ["a","r","g"]

print(fn)
word = "a"
fn.remove("a")
print(fn)
print("the word which is remove is: ",word.title())

['a', 'r', 'g']
['r', 'g']
the word which is remove is:  A

In [17]:
guest = ["ali","asif","110"]
chguest = []
print(guest,"\n")
massage = "would like to take dinner with me 😘"
mas1 ="sorry saba i can not make it     😥"
mas2 = " ok, i am removing you from the list "
mas3 = "new list is"
mas4 = "thanks all of you. 😊"
for i in guest:
    print(massage.title(),i.title())
    if i == "110":
        print("\n",mas1.title(),i.title())
        guest.remove("110")
        print(mas2.title(),i,"\n")
        newguest = ["babar","hasan","owais"]
        guest.insert(2,newguest)
        for a in newguest:
            print(massage.title(),a,", Yes")
        print("\n",mas4.title())
print("\n",mas3.title(),guest)

['ali', 'asif', '110']

Would Like To Take Dinner With Me 😘 Ali
Would Like To Take Dinner With Me 😘 Asif
Would Like To Take Dinner With Me 😘 110

 Sorry Saba I Can Not Make It     😥 110
 Ok, I Am Removing You From The List  110

Would Like To Take Dinner With Me 😘 babar , Yes
Would Like To Take Dinner With Me 😘 hasan , Yes
Would Like To Take Dinner With Me 😘 owais , Yes

 Thanks All Of You. 😊

 New List Is ['ali', 'asif', ['babar', 'hasan', 'owais']]

In [18]:
name = "atif"
lname = "qureshi . " 
fname = name + " " + lname
print(fname.upper(),fname.title(),fname.lower())

ATIF QURESHI .  Atif Qureshi .  atif qureshi .

In [19]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [20]:
li = ['a','b','c','d','f','e','g','h','i','j','k','l','m','n','o','p','q','u','r','s','t','u','v','w','x','y','z']
li
mas  = "word on even position: "
mas1 = "word on odd position : "
a1 = []
b1 = []
for i in li:
    a = li.index(i)
    c = a%2
    if c == 0:
        a1.append(i)
        print(mas.title() ,i)
    elif c!=0:
        b1.append(i)
        print(mas1,i)

Word On Even Position:  a
word on odd position :  b
Word On Even Position:  c
word on odd position :  d
Word On Even Position:  f
word on odd position :  e
Word On Even Position:  g
word on odd position :  h
Word On Even Position:  i
word on odd position :  j
Word On Even Position:  k
word on odd position :  l
Word On Even Position:  m
word on odd position :  n
Word On Even Position:  o
word on odd position :  p
Word On Even Position:  q
word on odd position :  u
Word On Even Position:  r
word on odd position :  s
Word On Even Position:  t
word on odd position :  u
Word On Even Position:  v
word on odd position :  w
Word On Even Position:  x
word on odd position :  y
Word On Even Position:  z

In [21]:
li = ['a','b','c','d','f','e','g','h','i','j','k','l','m','n','o','p','q','u','r','s','t','u','v','w','x','y','z']
li
mas  = "word on even position: "
mas1 = "word on odd position : "
a1 = []
b1 = []
for i in li:
    a = li.index(i)
    c = a%2
    if c == 0:
        a1.append(i)
        print(mas.title() ,i)
    elif c!=0:
        b1.append(i)
        print(mas1,i)

Word On Even Position:  a
word on odd position :  b
Word On Even Position:  c
word on odd position :  d
Word On Even Position:  f
word on odd position :  e
Word On Even Position:  g
word on odd position :  h
Word On Even Position:  i
word on odd position :  j
Word On Even Position:  k
word on odd position :  l
Word On Even Position:  m
word on odd position :  n
Word On Even Position:  o
word on odd position :  p
Word On Even Position:  q
word on odd position :  u
Word On Even Position:  r
word on odd position :  s
Word On Even Position:  t
word on odd position :  u
Word On Even Position:  v
word on odd position :  w
Word On Even Position:  x
word on odd position :  y
Word On Even Position:  z

In [22]:
li = ['a','b','c','d','f','e','g','h','i','j','k','l','m','n','o','p','q','u','r','s','t','u','v','w','x','y','z']
li
mas  = "your words collection is              : "
mas1 = "the index of your words collection is : "
a1 = []  
b1 = []
for i in li:
    if i == 'a' or i == 't' or i == 'i' or i == 'f'  :
        a=li.index(i)
        a1.append(i)
        b1.append(a)
print(mas1.title(),b1)
print(mas.title(),a1)

The Index Of Your Words Collection Is :  [0, 4, 8, 20]
Your Words Collection Is              :  ['a', 'f', 'i', 't']

In [23]:
lis=[0,1,2,3,4,5,6,7,8,9]
lis
e = []
f = []
lis.insert(10,10)
mas =  "it is even number:   " 
mas1 = "it is an odd number: "
for i in lis:
    a = i%2
    if a == 0:
        e.append(i)
        print(mas.title(),i)
    elif a != 0:
        f.append(i)
        print (mas1.title(),i)

It Is Even Number:    0
It Is An Odd Number:  1
It Is Even Number:    2
It Is An Odd Number:  3
It Is Even Number:    4
It Is An Odd Number:  5
It Is Even Number:    6
It Is An Odd Number:  7
It Is Even Number:    8
It Is An Odd Number:  9
It Is Even Number:    10

In [24]:
lis=[0,1,2,3,4,5,6,7,8,9]
e = [] 
f = []
lis.insert(10,10)
mas  = "these are even numbers       :  " 
mas1 = "these are odd  numbers       :  "
mas2 = "it is a list of all numbers  :  " 
for i in lis:
    a = i%2
    if a == 0:
        e.append(i)
    elif a != 0:
        f.append(i)
print(mas2.title(),lis)
print(mas.title(),e)
print(mas1.title(),f)

It Is A List Of All Numbers  :   [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
These Are Even Numbers       :   [0, 2, 4, 6, 8, 10]
These Are Odd  Numbers       :   [1, 3, 5, 7, 9]

In [25]:
words = ['a','h','j','k','o','p','r']
b = []
c = []

for i in words: 
    a=words.pop()
    b.append(i)
    print("he  is active   member: ",b)
    c.append(a)
    print("she is unactive member: ",c)

he  is active   member:  ['a']
she is unactive member:  ['r']
he  is active   member:  ['a', 'h']
she is unactive member:  ['r', 'p']
he  is active   member:  ['a', 'h', 'j']
she is unactive member:  ['r', 'p', 'o']
he  is active   member:  ['a', 'h', 'j', 'k']
she is unactive member:  ['r', 'p', 'o', 'k']

In [26]:
b = []
for i in range(0,7): 
    i='*'
    b.append(i)
    print(b)

['*']
['*', '*']
['*', '*', '*']
['*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*', '*']

# using range to make list of numbers

In [27]:
a = list(range(1,9))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [28]:
a = list(range(0,100,2))
print("Even",a)

Even [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [29]:
squares = []
mas = "these are the squares of 1 to 10: "
for a in range(1,11):
    square = a**2
    squares.append(square)
print(mas.upper(),squares)

THESE ARE THE SQUARES OF 1 TO 10:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
squares = []
mas  = "these are the squares of 1 to 10 : "
mas1 = "lowest  square                   :  "
mas2 = "highest square                   :  "
mas3 = "the sum of squares are           :  "
for a in range(1,11):
    squares.append(a**2)
print(mas.upper(),squares)
print(mas1.title(),min(squares))
print(mas2.title(),max(squares))
print(mas3.title(),sum(squares))

THESE ARE THE SQUARES OF 1 TO 10 :  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Lowest  Square                   :   1
Highest Square                   :   100
The Sum Of Squares Are           :   385

In [31]:
mad = "table 2: "
numbers = [v*2 for v in range(1,11)]
print(mad,numbers)

table 2:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [32]:
twenty = []
for a in range(1,21):
    twenty.append(a)
print(twenty)
print(sum(twenty))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
210

In [33]:
twenty = []
mad = "list of odd numbers :"
mad = "sum  of odd numbers :"
for a in range(1,20,2):
    twenty.append(a)
print(mad,twenty)
print(mad,sum(twenty))

sum  of odd numbers : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
sum  of odd numbers : 100

In [34]:
mas="multiplies of threes: "
threes = [a*3 for a in range(1,11)]
print(mas.title(),threes)

Multiplies Of Threes:  [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [35]:
cubes=[]
mas="the cube of"
for a in range(1,11):
    b=a**3
    cubes.append(b)
    print(mas.upper(),a," IS ",b)

THE CUBE OF 1  IS  1
THE CUBE OF 2  IS  8
THE CUBE OF 3  IS  27
THE CUBE OF 4  IS  64
THE CUBE OF 5  IS  125
THE CUBE OF 6  IS  216
THE CUBE OF 7  IS  343
THE CUBE OF 8  IS  512
THE CUBE OF 9  IS  729
THE CUBE OF 10  IS  1000

In [36]:
mas="the cubes of 1 to 10 are: "
cubes=[a**3 for a in range(1,11)]
print(mas,cubes)

the cubes of 1 to 10 are:  [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# working with part of list

In [37]:
players=['a','h','j','o','k','l','t','y']
print(players)
players.append('n')
players.insert(3,'q')
players.remove('o')
del players[0]
print(players)
for a in players:
    print(players.index(a),"*",a.title())
print(players)
print(players[2:5])
print(players[:4]) #it stop  at index 4
print(players[4:]) #it start at index 4

['a', 'h', 'j', 'o', 'k', 'l', 't', 'y']
['h', 'j', 'q', 'k', 'l', 't', 'y', 'n']
0 * H
1 * J
2 * Q
3 * K
4 * L
5 * T
6 * Y
7 * N
['h', 'j', 'q', 'k', 'l', 't', 'y', 'n']
['q', 'k', 'l']
['h', 'j', 'q', 'k']
['l', 't', 'y', 'n']

In [38]:
print(players)
print(players[-3:])#it start from -ve  
print(players[:-3])

['h', 'j', 'q', 'k', 'l', 't', 'y', 'n']
['t', 'y', 'n']
['h', 'j', 'q', 'k', 'l']

In [39]:
print(players)
for i in players[3:]:
    print(players.index(i),i)

['h', 'j', 'q', 'k', 'l', 't', 'y', 'n']
3 k
4 l
5 t
6 y
7 n

# copying a list

In [40]:
mas  = 'this is your choice list         : '
mas1 = 'this is your friends choice list : '
my_food = ['bargar','pizza','coffee','caka']
my_friends = my_food[:]
my_food.append('rasheny salad')
my_friends.insert(2,'French fries')
print(mas.upper(),my_food)
print(mas1.title(),my_friends)

THIS IS YOUR CHOICE LIST         :  ['bargar', 'pizza', 'coffee', 'caka', 'rasheny salad']
This Is Your Friends Choice List :  ['bargar', 'pizza', 'French fries', 'coffee', 'caka']

In [41]:
mas  = 'this is your choice list         : '
mas1 = 'this is your friends choice list : '
my_food = ['bargar','pizza','coffee','caka']
my_friends = my_food[:]
my_food.append('rasheny salad')
#my_friends.append('French fries')
print(mas.upper(),my_food)
#my_friends = my_food[:]
my_friends.insert(2,'French fries')
print(mas1.title(),my_friends)

THIS IS YOUR CHOICE LIST         :  ['bargar', 'pizza', 'coffee', 'caka', 'rasheny salad']
This Is Your Friends Choice List :  ['bargar', 'pizza', 'French fries', 'coffee', 'caka']

In [42]:
items = ['aa','bb','cc','dd','ee','ff','gg','hh','gg']
mas   = "the first three items in list are           : "
mas1  = "three items from the middle of the list are : "
mas2  = "last three items from the list are          : "
print(mas.upper(),items[:3])
print(mas1.upper(),items[3:6])
print(mas2.upper(),items[6:9])

THE FIRST THREE ITEMS IN LIST ARE           :  ['aa', 'bb', 'cc']
THREE ITEMS FROM THE MIDDLE OF THE LIST ARE :  ['dd', 'ee', 'ff']
LAST THREE ITEMS FROM THE LIST ARE          :  ['gg', 'hh', 'gg']

In [43]:
text  = []
mas   = "the first three items in list are           : "
mas1  = "three items from the middle of the list are : "
mas2  = "last three items from the list are          : "
text.append(mas)
text.append(mas1)
text.append(mas2)
items = ['aa','bb','cc','dd','ee','ff','gg','hh','gg']
for i in text:
    if i == mas:
        print(i,items[:3])
    elif i == mas1:
        print(i,items[3:6])
    elif i == mas2:
        print(i,items[6:9])

the first three items in list are           :  ['aa', 'bb', 'cc']
three items from the middle of the list are :  ['dd', 'ee', 'ff']
last three items from the list are          :  ['gg', 'hh', 'gg']

In [44]:
Choice = []
text   = []
minds = ['s','v']
yours = minds[:]
#for a in choice
minds.append('z')
yours.append('k')
Choice.append(minds)
Choice.append(yours)
mas  = 'my favorite pizzas are          : '
mas1 = "my friend's favorite pizzas are : "
text.append(mas)
text.append(mas1)
for i in Choice:
    for a in text:
        print(a,i)
    break
print(Choice)
print(minds)
print(yours)

my favorite pizzas are          :  ['s', 'v', 'z']
my friend's favorite pizzas are :  ['s', 'v', 'z']
[['s', 'v', 'z'], ['s', 'v', 'k']]
['s', 'v', 'z']
['s', 'v', 'k']

In [45]:
li = ['a','b','c','d','f','e','g','h','i','j','k','l','m','n','o','p','q','u','r','s','t','u','v','w','x','y','z']
mad = 'word'
list2 = []
for i in li:
    list2.append(i)
    print(mad,'at',list2.index(i),"is",i)

word at 0 is a
word at 1 is b
word at 2 is c
word at 3 is d
word at 4 is f
word at 5 is e
word at 6 is g
word at 7 is h
word at 8 is i
word at 9 is j
word at 10 is k
word at 11 is l
word at 12 is m
word at 13 is n
word at 14 is o
word at 15 is p
word at 16 is q
word at 17 is u
word at 18 is r
word at 19 is s
word at 20 is t
word at 17 is u
word at 22 is v
word at 23 is w
word at 24 is x
word at 25 is y
word at 26 is z

# Tuples

In [46]:
dimension=(2,5)
print(dimension[0])
print(dimension[1])

2
5

In [47]:
dimension=(2,5)
mas="original dimension: "
mas1="modify dimension: "
for i in dimension:
    print(mas,dimension)
    break
di2=(345,987)
for a in di2:
    print(mas1,di2)
    break
print(dimension[0])
print(dimension[1])

original dimension:  (2, 5)
modify dimension:  (345, 987)
2
5